body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: papyrus;
}


nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: pink;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
}

#pinkcat:hover{
    transition: width 2s, height 4s;

}

img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: pink;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}

#red-ball:hover{
    position: relative;
    background-color: magenta;
    animation-name:red-ball move;
    animation-iteration-count: infinitive;
    animation-duration: 2s;
    animation-direction: alternate;
}
    
